
            body{
              background-color: aqua;
            }
            hr{
                background-color: red;
            }
         h1{
             color: red;
             
         }